<div class="col-xs-12 col-md-6 f-menu-item">
  <div class="f-preview-container">
    <img class="f-preview" src="<%= menu_item.preview_url %>">
    <div class="f-mask">
      <div class="f-preview-mask">
      </div>
      <div class="f-item-checked">
        <div class="glyphicon glyphicon-ok"></div>
      </div>
    </div>
  </div>
  <div class="f-details">
    <div>
      <h3 class="f-label"><%= menu_item.label %></h3>
      <p>￥<span class="f-price"><%= menu_item.price %></span><span class="glyphicon glyphicon-info-sign f-item-details"></span> 详情</p>
    </div>
  </div>
</div>