<% content_for :head do %>
  <%= javascript_include_tag params[:controller] %>
  <%= stylesheet_link_tag params[:controller] %>
<% end %>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">dms</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">美食工坊</a></li>
        <li><a href="#about">关于我们</a></li>
        <li><a href="#contact">联系方式</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- nav -->

<div class="container f-menu-container">
  <div class="row">
    <div class="col-xs-12 col-md-6 f-menu-item">
      <div class="f-preview-container">
        <img class="f-preview" src="/previews/test-1.jpg">
      </div>
      <div class="f-details">
        <div>
          <h3 class="f-label">康师傅老坛酸菜面</h3>

          <p>￥<span class="f-price">99.9</span><span>已购：</span><span class="badge f-order-count">0</span></p>
        </div>
        <div class="btn-group" style="margin-top:-5px">
          <button type="button" class="btn btn-info f-action-order" value="1">
            <span class="glyphicon glyphicon-shopping-cart"> 订购</span></button>
          <button type="button" class="btn btn-default f-action-remove" value="1">
            <span class="glyphicon glyphicon-remove text-warning"></span></button>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 f-menu-item">
      <div class="f-preview-container">
        <img class="f-preview" src="/previews/test-2.jpg">
      </div>
      <div class="f-details">
        <div>
          <h3 class="f-label">康师傅老坛酸菜面</h3>

          <p>￥<span class="f-price">99.9</span><span>已购：</span><span class="badge f-order-count">0</span></p>
        </div>
        <div class="btn-group" style="margin-top:-5px">
          <button type="button" class="btn btn-info f-action-order" value="2">
            <span class="glyphicon glyphicon-shopping-cart"> 订购</span></button>
          <button type="button" class="btn btn-default f-action-remove" value="2">
            <span class="glyphicon glyphicon-remove text-warning"></span></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container f-cart-items">
  <div class="checkout">
    <h3>我的购物车</h3>
    <table class="table table-striped table-hover f-checkout-cart">
      <thead>
      <th>餐品</th>
      <th>单价</th>
      <th>数量</th>
      <th>#</th>
      </thead>
      <tbody id="cart-items">
      <tr id="order-summary">
        <td colspan="4">
          <div style="text-align: center">
            <span class="glyphicon glyphicon-send"></span><span id="empty-cart-placeholder"> 小计：<strong
          id="lg-sum-price">0.0</strong>￥</span>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="checkout-section">
      <h3>配送地址</h3>
    </div>
    <form role="form">
      <div class="form-group">
        <label for="tel">联系电话</label>
        <input type="text" class="form-control" id="tel" placeholder="TEL">
      </div>
      <div class="form-group">
        <label for="customer">联系人</label>
        <input type="text" class="form-control" id="customer" placeholder="张先生/女士">
      </div>
      <div class="form-group">
        <label for="ship-address">配送至</label>
        <input type="text" class="form-control" id="ship-address" placeholder="深圳">
      </div>
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-success">下单</button>
        <button type="button" class="btn btn-warning">重填</button>
      </div>
    </form>
  </div>
</div>
<!-- all available fast food -->
<div class="navbar navbar-fixed-bottom f-navbar-bottom" role="navigation">
  <div class="container f-nav-links">
    <a href="#" id="f-shopping-cart"><span class="glyphicon glyphicon-shopping-cart"></span> 购物车</a>
  </div>
</div>
