<% content_for :head do %>
  <%= javascript_include_tag params[:controller] %>
  <%= stylesheet_link_tag params[:controller] %>
<% end %>

<% content_for :nav_links do %>
  <li class="active"><a href="#">美食工坊</a></li>
  <li><a href="#about">关于我们</a></li>
  <li><a href="#contact">联系方式</a></li>
<% end %>

<div class="container f-menu-container">
  <div class="row">
    <% @menu_items.each_slice(2) do |slice| %>
      <%= render partial: "menu_item", collection: slice %>
    <% end %>
  </div>
</div>

<!-- all available fast food -->
<div class="navbar navbar-fixed-top f-navbar-top" id="i-navtop-order" role="navigation">
  <div class="container f-nav-links">
    <span>已购：</span><span id="i-order-count">0</span> 份，共￥<span id="i-total-price">0</span>
    <a href="javascript:void(0)" id="i-order-confirm">确定</a>
  </div>
</div>

<div class="navbar navbar-fixed-top f-navbar-top" id="i-navtop-checkout" role="navigation">
  <div class="container f-nav-links">
    <span class="glyphicon glyphicon-chevron-left" id="i-back-order"></span><span> <span style="padding-right:10px">我的购物车</span></span>
    共￥<span id="i-checkout-price">0</span>
    <a href="javascript:void(0)" id="i-order-checkout">下单</a>
  </div>
</div>

<div class="container f-cart-items">
  <div class="checkout">
    <table class="table table-striped table-hover f-checkout-cart">
      <thead>
      <th>餐品</th>
      <th>单价</th>
      <th>#</th>
      </thead>
      <tbody id="cart-items">
      </tbody>
    </table>

    <div class="checkout-section">
      <h3>配送地址</h3>
    </div>
    <%= form_tag('/orders', method: 'post', id: 'i-order-form') do %>
      <div class="form-group">
        <label for="i-tel">联系电话<span class="f-mark-required">*</span></label>
        <input type="text" class="form-control" id="i-tel" placeholder="TEL">
      </div>
      <div class="form-group">
        <label for="i-customer">联系人<span class="f-mark-required">*</span></label>
        <input type="text" class="form-control" id="i-customer" placeholder="张先生/女士">
      </div>
      <div class="form-group">
        <label for="i-ship-address">配送至<span class="f-mark-required">*</span></label>
        <input type="text" class="form-control" id="i-ship-address" placeholder="深圳">
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-warning">重填</button>
      </div>
    <% end %>
  </div>
</div>
