.f-preview {
    width: 9em;
    /*14#6=84px*/
    height: 6em;
    float: left;
}

.f-detail {
    float: left;
    overflow: hidden;
    width: 100%;
}

.f-menu-item {
    border-bottom: 1px solid #eee;
}

body {
    padding-top: 50px;
}

.f-menu-container {
    margin-top: 10px;
}

.f-label {
    font-size: 1em;
    display: block;
    padding-bottom: 10px;
}

.f-navbar-bottom {
    background-color: #eee;
    min-height: 40px;
    border-top: 1px solid #ddd;
}

.f-nav-links a {
    display: inline-block;
    height: 40px;
}
